@font-face {
    font-family: Italianno;
    src: url('/public/fonts/Italianno-Regular.ttf') format('truetype');
  }

.text {
    font-family: Italianno, cursive;
    font-size: 30px;
}

h1.text, button.text, label.text, div.text {
  font-family: Italianno, cursive;
}