.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.container a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  background-color: var(--clr-orange);
}

.container a:hover {
  background-color: var(--clr-dark-orange);
}
