:root {
  --clr-orange: #ff5722;
}

.site-header {
  display: flex;
  flex-direction: column;
}

.site-header .navigation {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.branding a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  gap: 0.5em;
  padding: 0.5em;
}

.branding a:hover {
  color: var(--clr-orange);
}

.branding p {
  padding: 0;
}

.media {
  width: 30px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav ul,
.more-links,
.catalog-links {
  display: flex;
  align-items: center;
  gap: 2em;
}

.catalog-links {
  background-color: var(--clr-orange);
  justify-content: center;
  gap: 5em;
  padding: 0.5em;
}

.main-nav li,
.more-links li,
.catalog-links li {
  display: block;
  padding: 0.5em;
}

.catalog-links li {
  padding-inline: 2em;
  position: relative;
}

.catalog-links li ul {
  display: none;
  text-align: center;
  background-color: var(--clr-orange);
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}

.catalog-links li:hover {
  cursor: pointer;
  background-color: #dd4112;
  border-radius: 0.5em;
}

.catalog-links li:hover ul {
  display: block;
  border-radius: 0.5em;
}

.main-nav a,
.more-links a,
.catalog-links a {
  display: block;
  text-decoration: none;
  color: #000;
}

.catalog-links a {
  color: #fff;
  font-weight: bold;
}

.main-nav a:hover,
.more-links a:hover {
  color: var(--clr-orange);
}

.more-links a:hover svg {
  fill: var(--clr-orange);
}

.more-links li a {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#nav-toggle,
label {
  display: none;
}

@media (width <= 870px) {
  .more-links,
  .catalog-links {
    display: none;
  }

  label {
    display: block;
    padding: 1em;
  }

  .site-header {
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .site-header .navigation {
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
  }

  .site-header ul {
    flex-wrap: wrap;
    gap: 0;
  }

  #nav-toggle:checked ~ .navigation > .main-nav {
    display: block;
  }

  #nav-toggle:checked ~ .navigation > .more-links {
    display: flex;
  }

  .catalog-links,
  /* .main-nav, */
  .more-links {
    position: absolute;
    top: 75%;
    left: 0;
  }

  .more-links {
    top: 90%;
    left: 15%;
  }

  .catalog-links {
    width: 100%;
    top: 160%;
  }

  .catalog-links li {
    width: 100%;
  }

  .catalog-links li:hover {
    background-color: var(--clr-orange);
  }

  .catalog-links li:hover ul {
    display: block;
    position: static;
    background-color: #dd4112;
  }

  .catalog-links li:hover ul li:hover {
    border: 1px solid orangered;
  }

  #nav-toggle:checked ~ .catalog-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  footer {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
