@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Lato:ital@0;1&display=swap");

html {
  font: 16px/1.5 "Lato", sans-serif;
}

body,
button {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Italianno", cursive;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  padding-bottom: 1.5rem;
}
